/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$default_font: "Monsterat", sans-serif;
$accent: rgb(149,7,254);
$light_accent: purple;

/* Components */
