/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$default_font: "Monsterat", sans-serif;
$accent: #2e196c;
$light_accent:  #625bed;

/* Components */
