/* Core variables */
@import 'base/vars';

/* CSS Reset */
@import 'base/reset';

/* Fonts */
@import 'base/fonts';

/* Adaptive*/
@import 'base/adaptive';

/* Components */
@import 'base/buttons';

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  /*The overflow-x property defines
         overflow handling in the horizontal direction
            (i.e. overflow from the left and
                right sides of the block)*/
  font-family: "Montserrat";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 3000px;
}

.container {
  max-width: 1224px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

/*Header menu*/
#header {

  position: fixed;
  /*Positions the object exactly the same as
         absolute, but relative to window.*/
  width: 100%;
  z-index: 1000;
  background-color: $header_accent;
  opacity: 83%;

  .header_Container {
    display: flex;
    max-width: 1224px;
    margin: 0 auto;
    /*aligns the block in the
          center, in width*/
    justify-content: space-around;
    padding: 20px;
    align-items: center;

    .header_Phone {
      position: relative;
      /*Child elements will be
            positioned relative to fixed*/
      color: $accent;
      font-weight: 600;
      font-size: 22px;
      padding-right: 15px;


      &:before {
        position: absolute;
        /*The element disappears from the place
             where it should be and is positioned anew.
               The remaining elements are arranged as if
                    this element never existed.*/
        content: '';
        display: block;
        width: 2px;
        background: $accent;
        bottom: 0;
        top: 0;
        right: 0;
      }
    }

    .site_Logo {
      width: 65px;
    }

    /*Menu & sub menu*/

    nav.right_Side_Header {
      display: flex;
      gap: 40px;
      align-items: center;

      ul.menu_Top {
        display: flex;
        gap: 20px;
      }

      li.menu_Item {
        position: relative;

        &:hover {
          ul.sub_Menu {
            display: flex;
          }
        }

        ul.sub_Menu {
          display: none;
          /*allows you not to display an
                      element before interacting with it*/
          flex-direction: column;
          background: $header_accent;
          opacity: 85%;
          padding: 20px;
          border-radius: 10px;
          position: absolute;
          gap: 20px;
          /*The gap between the elements*/

          top: 30px;
          width: max-content;
          box-shadow: 0 10px 18px #0000002e;

          &:before {
            /*the strip between the elements*/
            content: "";
            position: absolute;
            top: -15px;
            height: 20px;
            width: 100%;
          }
        }
      }
    }
  }
}

/*baner with sneakers & description*/
#top_Banner {
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  background: rgba(5, 221, 214, 30);
  background: linear-gradient(0deg, rgba(47, 18, 116, 1) 11%, rgba(108, 119, 253, 1) 51%, rgba(3, 209, 255, 1) 78%);

  .descr_Buy {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    margin-right: 15px;
  }

  .left_Stemets {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
  }

  h1 {
    margin-top: 30px;
    white-space: pre;
    font-size: 100px;
    font-weight: 600;
  }

  .descr_Stemets {
    margin: 14px 0 44px;
    font-size: 20px;

  }

  span {
    font-weight: 500;
    font-size: 32px;
  }

  .price {
    padding: 20px 0 20px 0;
    font-weight: 400;
    font-size: 24px;
  }

  p {
    line-height: 27px;
    font-weight: 300;
    font-size: 18px;
  }


}

.right_Stemets {
  position: relative;
  width: 50%;
  height: 100%;


  .sneaker {

    z-index: 1;
    position: absolute;
    left: 30px;
    top: -240px;
    width: 100%;
    aspect-ratio: 1 / 1;
    /*The aspect-ratio CSS property sets the preferred
      aspect ratio for the window
        to be used when calculating automatic dimensions
           and some other layout functions.*/
    cursor: pointer;
    /*You can hover the mouse
           over the picturesм*/
    /*1 shades of gray,
             0 natural colors*/
    transition: all 1s ease;

    &:hover, &.active {
      transform: scale(1.2);
    }
  }
}


.is_Scrolled {
  /*During scrolling, an action occurs*/
  z-index: 1000;
  background: #30a9fec2;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3)
}

#advantages {
  margin-bottom: 300px;
  position: relative;

  > img {
    width: 80%;
    right: 230px;
    position: absolute;
    opacity: 13%;
    bottom: -280px;
  }
}

.descr_Advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 15px 220px 15px 220px;

  > h2 {
    position: relative;
    font-weight: 500;
    font-size: 30px;
    padding-bottom: 35px;
  }


  > p {
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
  }
}

.points_Advantages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 75px 20px 0 20px;

  i {
    font-size: 50px;
    padding-bottom: 20px;
  }

  p {
    line-height: 28px;
  }

  .points_item {
    max-width: 33%;
    text-align: center;
  }
}

#partners {
  display: flex;
  align-items: center;


  .partners_comments {
    gap: 200px;
    display: flex;
    flex-direction: column;

    .comments {
      position: relative;
      gap: 3px;
      display: flex;
      align-items: center;
      flex-direction: column;


      &:before {
        content: "";
        position: absolute;
        bottom: -100px;
        height: 1px;
        filter: blur(1px);
        width: 80%;
        background-color: black;
      }

      .item_rev {
        text-align: center;
        display: none;
        animation: opac .6s;

        &.active {
          display: block;
        }

        > .quotes {
          font-size: 18px;
          max-width: 660px;
          margin: 0 auto 50px;
        }

        > .name {
          margin-top: 16px;
          font-weight: 700;
        }

        > .position {
          font-weight: 500;
        }

        img {
          opacity: 85%;
          aspect-ratio: 1/1;
          max-width: 7%;
          border-radius: 50%;
          object-fit: cover;
          margin: 0 auto;

        }
      }


    }

    .sub_partners {
      flex-wrap: wrap;
      display: flex;
      justify-content: space-around;

      > img {
        cursor: pointer;
        /*You can hover the mouse
               over the picturesм*/
        width: 8%;
        filter: grayscale(1);
        /*1 shades of gray,
                 0 natural colors*/
        transition: all 1.3s;

        &:hover, &.active {
          filter: grayscale(0);
          transform: scale(1.4);
        }
      }
    }
  }
}

#form_spons {
  padding: 50px 0 150px 0;
  margin-top: 200px;

  .sponsors_regForm {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .sponsors {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 25px;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;

      > h4 {
        font-size: 18px;
        font-weight: 600;

      }

      > img {
        width: 70%;
        height: 50px;
      }
    }

    .form {
      width: 25%;
      padding: 15px 0 15px 0;
      border: 0.1px;
      box-shadow: 0px 0px 70px 10px rgba(98, 91, 237, 1);
      margin: 0 auto;
      gap: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;

      > h4 {
        font-size: 18px;
        font-weight: 600;
      }

      > input {
        padding-left: 15px;
        text-align: left;
        width: 250px;
        height: 50px;
        opacity: 70%;
        border: 2px solid $light_accent;
      }

      .or {
        padding-top: 10px;
        padding-bottom: 10px;
      }

      > a img {
        max-width: 50%;
        margin: 0 auto;
      }

      .footer_form {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

#footer {

  padding-top: 25px;
  background-color: $header_accent;
  opacity: 75%;


  .wrapper_footer {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .descr_footer {
      display: block;
      width: 15%;

      > img {
        padding-bottom: 20px;
        width: 50%;
      }
    }

    .footer_col {
      display: block;
      width: 15%;

      .btn_Buy {
        margin: 25px;
        padding: 10px 20px 10px 20px;
      }

      > h4 {
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 10px;
      }

      > ul li a {
        padding: 3px 0;
        color: black;
        display: block;
        font-weight: 500;
        gap: 20px;
      }
    }
  }
}
